*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, rgb(219, 120, 21) 0%, rgb(245, 85, 5) 100%);
}

.heading{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}

h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db7207;
    grid-column: 1/-1;
    text-align: center;
}

.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.nav a{
    width: 300px;
    height: 50px;
    color:#db7207;
    border-radius: 8px;
    letter-spacing: 1px;
    margin: 3px;
    padding: 3px;
}
.nav a:hover{
    cursor: pointer;
    transition: 0.30s;
    background-color: darkorange;
    
}
.heading{
    background: black;
    border-style: groove;
    border-radius: 25px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 100px;
    padding-left: 100px;
    grid-column: 1/-1;
    text-align: center;
    text-transform: uppercase;
}

.heading>h1{
    font-weight: 400;
    font-size: 1.45rem;
    letter-spacing: 2px;
    margin-bottom: -3px;
    text-transform: uppercase;
}

/* .heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
} */

.heading>h4{
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
}


.about{
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db7207;
    text-align: center;
    background: black;
    border-style: groove;
    border-radius: 20px;
    padding: 10px;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db7207;
    text-align: center;
    background: black;
    border-style: groove;
    border-radius: 15px;
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.info2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db7207;
    text-align: center;
    background: white;
    border-style: groove;
    border-radius: 15px;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}


    
  
.logo{
    display: flex;
    position: relative;
    width: 100px;
    margin-top: -60px;
    top: 50px;
    right: 80px;
    cursor: pointer;
    margin-right: 1700px ;
    margin-bottom: -50px;
  }

  .abtpic{
    width: 400px;
    
  }

footer{
   background-color: black;
   color: #fff; 
}

.footer_inf {
    width: 100%;
    width: 85%;
    margin: 0 auto;
    display:flex;
    padding: 50px 0;
}

.footer_inf .footer_width {
    padding: 0 145px;
}

.footer_inf h2{
    margin-bottom: 20px;
}

.aboutbout , .contact{
    width: 40%;
}

.link{
    width: 20%;
}

a{
    text-decoration: none;
    transition: .5s;
    color: #fff;
}


.social-media{
    margin-top: 30px;
}

.social-media ul{
    display: flex;
}

.social-media ul li a{
    display: inline-block;
    margin-right: 50px;
    width: 49px;
    height: 49px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
}

.social-media ul li a{
    background-color: #fff;
    color:#000;
}

.link ul li a{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.link ul li a:hover{
    color:#000;
}

.Contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Contact ul li span{
    margin-right: 15px;
}

.copy-right{
    text-align: center;
    background-color: gray;
    ;
}
