*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.shop{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    grid-column: 1/-1;
    text-align: center;
}

.cart-icon{
    max-width: 50px;
    max-height: 25px;
    margin-left: 500px;
}

.container{
    width: 1700px;
    margin-left: 100px;
    padding: 0 1.5em;
    color: white;
    text-shadow: black;
}
.section-header{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.container{
    display: block;
}

.cart-row{
    display: flex;
    padding-left: 0px;
    margin-left: -100px;

}

.cart-item{
    width: 40%;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white ;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-header{
    font-size: 1.25em;
    font-weight: bold;
}

.cart-price{
    width: 20%;
    font-size: 1.25em;
}

.cart-quantity{
    width: 20%;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    margin-right: 20px;
    
}

.cart-total-price{
    font-size: 1.1em;
    color: black;
}

.cart-total{
    text-align: end;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.4em;
}

.btn-purchase:hover{
    cursor: pointer;
    transition: 0.30s;
    background-color: #db7207;
    color: white;  
}

.btn-primary{
    color: white;
    background-color: #db7207 ;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    float : right;
    
}

.btn-primary:hover{
    cursor: pointer;
    transition: 0.30s;
    background-color: white;
    color: #db7207;
    
}

.btn{
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;

}


.btn-danger{
   background-color: #db7207;
   border: none;
   color:#fff;
   margin-left: 50px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   width: 130px;
   height: 45px;
   cursor: pointer;

}

.btn-danger:hover{
    cursor: pointer;
    transition: 0.30s;
    background-color: white;
    color: #db7207;
}

.cart-quantity-input{
    color:black;
    
}

.btn-purchase a{
    text-decoration: none;
    color:white;
}

.btn-purchase a:hover{
    cursor: pointer;
    transition: 0.30s;
    color: #db7207;
}