
body {
    font-family: "Arial";
    font-size: 15px;
    color: #000;
    background: radial-gradient(circle, rgb(219, 120, 21) 0%, rgb(245, 85, 5) 100%);
    line-height: 15px;
}

img {
    width: 200px;
    height: auto;
    margin-left: 800px;
}

h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
    
}

p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}