
body {
    font-family: "Arial";
    font-size: 15px;
    color: #000;
    background: radial-gradient(circle, rgb(219, 120, 21) 0%, rgb(245, 85, 5) 100%);
    line-height: 15px;
}

img {
    width: 200px;
    height: auto;
    margin-left: 800px;
}

h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
    
}

p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.menu-btn{
    align-items: center;
    margin: 20px;
    padding: 15px;

 }

 button{
    background-color: #db7207;
    border: 2px solid #fff;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
}

button:hover{
    color: #db7207;
    border: 1.80px solid #db7207;
    background-color: white;
}